# -*- mode: ruby -*-
# vi: set ft=ruby :

# TODO: load parameters from parameters.yml

def load_aliases
    return ''
end

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    config.vm.box = "test"

    config.vm.hostname = "test.lo"

    config.vm.network :private_network, ip: '10.10.10.10'
end
