<VirtualHost *:80>
    ServerName {{ hostname }}

    {% for h in hostnames %}
        ServerAlias h
    {% endfor %}

    DocumentRoot "{{ root_directory }}"
</VirtualHost>

{% if ssl %}
<VirtualHost *:443>
    ServerName {{ ssl_hostname | default(hostname) }}

    {% for h in ssl_hostnames | default(hostnames) %}
        ServerAlias h
    {% endfor %}

    DocumentRoot "{{ root_directory }}"

    SSLEngine on
    SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
    SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
</VirtualHost>
{% endif %}
