- name: install PHP5 packages
  apt: pkg={{ item }} state=latest
  sudo: yes
  with_items:
    - php5-xcache
    - php5-xdebug
    - php5-curl
    - php5-cli
    - php5-intl
    - php5-gd
    - php5-imagick

- name: install mysql database driver
  apt: pkg=php5-mysql state=latest
  sudo: yes
  when: database_type == 'mysql'

- name: install postgresql database driver
  apt: pkg=php5-pgsql state=latest
  sudo: yes
  when: database_type == 'postgresql'

- name: Place PHP configuration files in place.
  template: src={{ item.src }} dest={{ item.dest }} owner=root group=root mode=644
  sudo: yes
  with_items:
    - { src: php.ini.j2, dest: /etc/php5/mods-available/phpdev.ini }
    - { src: xdebug.ini.j2, dest: /etc/php5/mods-available/xdebug.ini }

- name: Activate PHP configuration files
  command: php5enmod {{ item }}
  with_items:
    - phpdev
    - xdebug
  sudo: yes

- name: Download php-cs-fixer
  shell: "curl http://get.sensiolabs.org/php-cs-fixer.phar -o /usr/local/bin/php-cs-fixer && chmod +x /usr/local/bin/php-cs-fixer"
  sudo: yes
