- set_fact: php_version_installed={{ php_version | float }}

- fail: msg="PHP7.0 is only available from Debian Jessie (8) on"
  when: "ansible_lsb.major_release|int < 8 and {{ php_version_installed| version_compare('7.0', '>=') }}"

- include: ubuntu-repo.yml
  when: "ansible_distribution == 'Ubuntu'"

- include: debian-repo.yml
  when: "ansible_distribution == 'Debian' and {{ php_version_installed| version_compare('5.5', '>') }}"

# we do include_vars twice so that we can have default values
# and just have to override any changes in the specific versions
- include_vars: "default.yml"

- include_vars: "{{ item }}"
  with_first_found:
   - "{{ ansible_distribution }}-{{ php_version_installed }}.yml"
   - "{{ ansible_distribution }}-{{ php_version_installed | int }}.x.yml"
   - "{{ ansible_distribution }}.yml"
   - "default.yml"

- set_fact: php_phpenmod={{ phpenmod }}

- name: install PHP packages
  apt: pkg={{ item }} state=latest
  become: yes
  with_items: "{{ php_packages }}"

- name: install mysql database driver
  apt: pkg={{ item }} state=latest
  with_items: "{{ php_mysql_packages }}"
  become: yes
  when: "'{{ database_type|default(false) }}' == 'mysql'"

- name: install postgresql database driver
  apt: pkg={{ php_pgsql_package}} state=latest
  become: yes
  when: "'{{ database_type|default(false) }}' == 'postgresql'"

- include: not-debian-7.0.yml
  when: "not ({{ php_version_installed| version_compare('7.0', '>=') }} and ansible_distribution == 'Debian')"

- include: wheezy-php5.yml
  when: "ansible_lsb.major_release|int < 8 and {{ php_version_installed| version_compare('5.4', '>') }}"

- name: set php alternative to the correct path
  alternatives: name=php path={{ alternatives_php_path }}
  become: yes

- name: Download php-cs-fixer
  shell: curl http://get.sensiolabs.org/php-cs-fixer.phar -o /usr/local/bin/php-cs-fixer && chmod +x /usr/local/bin/php-cs-fixer creates=/usr/local/bin/php-cs-fixer
  become: yes
