{% extends "nginx/templates/default-site.j2" %}

{% block extra %}
    {{ super() }}

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass	http://localhost:{{ proxy_port | default(8000) }};
    }

    {% if static_dir %}
        location {{ static_dir }} {
            root {{ static_fs_dir }}
            expires {{ expire_time }};
        }
    {% endif %}
{% endblock %}

{% block extra_server %}
    {% if static_host %}
        server {
            server_name {{ static_host }};
            root {{ static_fs_dir }};
        }

        {% if ssl %}
            server {
                listen 443;

                ssl on;
                ssl_certificate_key {{ ssl_key_file }};
                ssl_certificate {{ ssl_cert_file }};

                server_name {{ static_host }};
                root {{ static_fs_dir }};
            }
        {% endif %}
    {% endif %}
{% endblock %}
