{% extends "nginx/templates/default-site.j2" %}

{% block extra %}
    {{ super() }}

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass	http://localhost:{{ proxy_port | default(3000) }};
    }
{% endblock %}
