zend_extension=/usr/lib/php5/20131226/xdebug.so

xdebug.max_nesting_level=1000

; activate colors in CLI
xdebug.cli_color=1

; disable coverage for speedup
xdebug.coverage_enable=0

; PHPStorm 8 link format to open files
xdebug.file_link_format="phpstorm://open?file=%f&line=%l"

; config to run the profiler
xdebug.profiler_enable=0
xdebug.profiler_output_dir=/vagrant/profiling/

; config to run the tracer
xdebug.trace_enable=0
xdebug.trace_output_dir=/vagrant/tracing/

; config to run the remote debugger
xdebug.remote_enable=1
xdebug.remote_connect_back=1
xdebug.idekey="XDEBUG-RAWBOT"

; allows to start xdebug features via query string / cookie / plugin
xdebug.profiler_enable_trigger=1
xdebug.trace_enable_trigger=1

