---
# This is a simple playbook to used to provision a docker image using nginx + php + mysql
- hosts: all
  vars_files:
   - parameters.yml
  sudo: no
  roles:
    - { role: base }
    - { role: mysql}
    - { role: nginx}
    - { role: php-fpm }
    - { role: compass }
    - { role: solr }
