---
# This is a simple playbook to used to provision a docker image using nginx + php + mysql
- hosts: all
  roles:
    - { role: base }
    - { role: mysql, database_name: "docker-test" }
    - { role: nginx, hostname: "test.docker.lo", root_directory: "/exports/web", site_template: "php-site.j2" }
    - { role: php-fpm }
