---
# This is a simple playbook to used to provision a docker image using nginx + php + mysql
- hosts: all
  sudo: yes
  roles:
    - { role: base }
    - { role: mysql, database_name: "docker-test" }
    - { role: nginx, root_directory: "/exports/web", site_template: "php-site.j2" }
    - { role: php-fpm }
    - { role: compass }
    - { role: solr }
