- name: install PHP memcached extension
  apt: pkg=php-memcached state=latest
  become: yes

- name: Activate PHP configuration files
  command: "{{phpenmod}} -s ALL {{ item }}"
  with_items:
    - memcached
  notify:
    - restart php-fpm
  become: yes

- meta: flush_handlers
